<?xml version="1.0" encoding="UTF-8"?>
<configuration status="debug">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss.SSS} %c{1} (%F:%L) %msg%n"/>
        </Console>
        <!--异步磁盘appender，默认按天&按512M文件大小切分日志，默认最多保留30个日志文件，默认为非阻塞模式-->
        <XMDFile name="XMDFileAppender" fileName="app.log"  xmdFilePath="/data/applogs">
        </XMDFile>

        <!--ERROR日志、WARN日志单独输出到一个文件-->
        <XMDFile name="ERROR-LOG" fileName="error.log"  xmdFilePath="/data/applogs">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
        </XMDFile>
        <XMDFile name="WARN-LOG" fileName="warn.log"  xmdFilePath="/data/applogs">
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </XMDFile>

        <CatAppender name="CatAppender"/>
    </appenders>

    <loggers>
        <root level="INFO">
            <!--<appender-ref ref="Console"/>-->
            <appender-ref ref="XMDFileAppender"/>
            <appender-ref ref="ERROR-LOG"/>
            <appender-ref ref="WARN-LOG"/>
        </root>
        <!--<logger level="DEBUG" name="org.springframework">-->
        <!--<appender-ref ref="Console"/>-->
        <!--</logger>-->
        <logger name="com.dianping.zebra.administrator" level="info" additivity="true">
            <appender-ref ref="Console"/>
        </logger>
    </loggers>
</configuration>